#Files
test.cpp
make.ps1
Make
sdl2-config

#Extensions
*.exe
*.o
*.d
#*.dll

#Folders
/glew
/sdl
/garbage
/.vscode

#Substitution Audio Files
dirt.ogg
greenpath.ogg
snore.ogg
city_of_tears.ogg
fungal_mantis.ogg
crystal_action.ogg
lacrimosa.ogg
